<?xml version="1.0"?>
<config>
    <modules>
        <TomShaw_Homework>
            <version>1.0.1</version>
            <platform>ce</platform>
        </TomShaw_Homework>
    </modules>
    <frontend>
        <translate>
            <modules>
                <TomShaw_Homework>
                    <files>
                        <default>TomShaw_Homework.csv</default>
                    </files>
                </TomShaw_Homework>
            </modules>
        </translate>
        <routers>
            <homework>
                <use>standard</use>
                <args>
                    <module>TomShaw_Homework</module>
                    <frontName>tomshaw</frontName>
                </args>
            </homework>
        </routers>
        <layout>
            <updates>
                <homework module="homework">
                    <file>TomShaw_Homework.xml</file>
                </homework>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <homework>
                <use>admin</use>
                <args>
                    <module>TomShaw_Homework</module>
                    <frontName>homework</frontName>
                </args>
            </homework>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <TomShaw_Homework>
                    <files>
                        <default>TomShaw_Homework.csv</default>
                    </files>
                </TomShaw_Homework>
            </modules>
        </translate>
        <layout>
            <updates>
                <homework module="homework">
                    <file>tomshaw_homework.xml</file>
                </homework>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <basesettings>
                                            <title>Assignment Settings</title>
                                        </basesettings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <homework>
                <class>TomShaw_Homework_Block</class>
            </homework>
        </blocks>
        <helpers>
            <homework>
                <class>TomShaw_Homework_Helper</class>
            </homework>
        </helpers>
        <resources>
            <homework_setup>
                <setup>
                    <module>TomShaw_Homework</module>
                    <class>TomShaw_Homework_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </homework_setup>
            <homework_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </homework_write>
            <homework_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </homework_read>
        </resources>
        <models>
            <homework>
                <class>TomShaw_Homework_Model</class>
                <resourceModel>homework_mysql4</resourceModel>
            </homework>
            <homework_mysql4>
                <class>TomShaw_Homework_Model_Mysql4</class>
                <entities>
                    <assignment>
                        <table>tomshaw_homework</table>
                    </assignment>
                    <student>
                        <table>tomshaw_student</table>
                    </student>
                </entities>
            </homework_mysql4>
        </models>
    </global>
</config>
